*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}

body{
    background-color: rgb(240, 244, 248);
}

header{
    height: 80px;
    width: 100%;
    background-color: white;
    padding-top: 10px;
    padding-left: 20px;
}

#logocontainer{
    height: 60px;
    
}

#logo{
    height: 100%;
}

h1{
    display: inline-block;
    font-size: 50px;
    margin-left: 10px;
}

main{
    background-color: white;
    width: 70%;
    margin: auto;
    margin-top: 40px;
}

nav{
    height: 60px;
}

.options{
    line-height: 60px;
    margin-left: 50px;
}

button{
    border-radius: 5px; 
    padding: 7px 14px;
    font-size: 12px;

}

.blue{
    background-color: rgb(8, 171, 241);
    color: white;
    border: 0;
}

.white{
    background-color: white;
    border: 1px solid lightgrey;
    color: lightgrey;
}